@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Lato:wght@300;400;700;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@media screen and (min-width: 768px) {
.project_main{
width: 100%;
height: 100vh;
background: #fff;
}
}
@media screen and (max-width: 767px) {
.project_main{
width: 100%;
height: 100vh;
background: #fff;
}
}

@media screen and (min-width: 768px) {
.top_nav_div{
width: 100%;
height: 95px;
flex-shrink: 0;
background: #FEFAE0;
}
}
@media screen and (max-width: 767px) {
.top_nav_div{
width: 100%;
height: 95px;
flex-shrink: 0;
background: #FEFAE0;
}
}


@media screen and (min-width: 768px) {
.prjct_banner{
width: 100%;
height: 650px;
}
}
@media screen and (max-width: 767px) {
.prjct_banner{
width: 100%;
height: auto;
}
}


@media screen and (min-width: 768px) {
.play_btn_banr{
position: absolute;
bottom: 460px;
left: 50%;
transform: translate(-50%, -50%);
}
}
@media screen and (max-width: 767px) {
.play_btn_banr{
position: absolute;
top: 200px;
left: 50%;
transform: translate(-50%, -50%);
width: 36px;
height: 36px;
}
}


@media screen and (min-width: 768px) {
.top_logo_box{
display: flex;
width: 110px;
padding: 40px 12px 9px 12px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
border-radius: 0px 0px 100px 100px;
background: #283618;
position: absolute;
top: 0;
left: 70px;
}
}
@media screen and (max-width: 767px) {
.top_logo_box{
display: flex;
width: 85px;
padding: 32px 13px 6px 13px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
border-radius: 0px 0px 100px 100px;
background: #283618;
position: absolute;
top: 0;
left: 15px;
}
}


@media screen and (min-width: 768px) {
.inner_logo{
width: 100px;
height: 100px;
}
}
@media screen and (max-width: 767px) {
.inner_logo{
width: 75px;
height: 75px;
}
.inner_logo img{
width: 75px;
height: 75px;
}
}
/* mob_nav */
@media screen and (min-width: 768px) {
.mob_nav_menu{
display: none;
}
}
@media screen and (max-width: 767px) {
.mob_nav_menu{
display: block;
position: absolute;
top: 20px;
right: 20px;
}
}
/* end-mob-nav */
@media screen and (min-width: 768px) {
.top_nav_bar{
display: inline-flex;
align-items: center;
gap: 35px;
position: absolute;
top: 30px;
left: 700px;
}
}
@media screen and (max-width: 767px) {
.top_nav_bar{
display: inline-flex;
align-items: center;
gap: 48px;
position: absolute;
top: 20px;
left: 425px;
display: none;

}
}


@media screen and (min-width: 768px) {
.nav_menu_div{
display: flex;
align-items: flex-start;
gap: 55px;
}
}
@media screen and (max-width: 767px) {
.nav_menu_div{
display: flex;
align-items: flex-start;
gap: 40px;
}
}

@media screen and (min-width: 768px) {
.nav_home {
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
color: #000000;
font-family: Belgiano Serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 170%;
cursor: pointer;
position: relative; 
text-decoration: none;
}

.nav_home::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 2px;
background-color: #000000; 
transition: width 0.5s; 
}

.nav_home:hover::before {
width: 100%;
}
}


@media screen and (max-width: 767px) {
.nav_home{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
font-size: 18px;

color: #FFF;
font-family: Belgiano Serif;
font-style: normal;
font-weight: 400;
line-height: 170%; 
}
}


@media screen and (min-width: 768px) {
.btn_donate{
display: inline-flex;
padding: 2px 20px;
justify-content: center;
align-items: center;
gap: 8px;
background: #283618;

color: #FFF;
font-family: Belgiano Serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
border: none !important;
cursor: pointer;
}
}
@media screen and (max-width: 767px) {
.btn_donate{
display: flex;
padding: 2px 20px;
justify-content: center;
align-items: center;
gap: 8px;

color: #000;
font-family: Belgiano Serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
border: none !important;
}
}



@media screen and (min-width: 768px) {
.prjct_txt_div{
display: flex;
width: 1525px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
padding: 60px;
}
}
@media screen and (max-width: 767px) {
.prjct_txt_div{
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
gap: 20px;
padding: 60px;
}
}
    

@media screen and (min-width: 768px) {
.prjct_txt1{
color: #283618;
font-family: Belgiano Serif;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}
}
@media screen and (max-width: 767px) {
.prjct_txt1{
color: #283618;
font-family: Belgiano Serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}
}


@media screen and (min-width: 768px) {
.prjct_txt2{
align-self: stretch;
color: #1E1E1E;
font-family: IBM Plex Sans;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
}
}
@media screen and (max-width: 767px) {
.prjct_txt2{
align-self: stretch;
color: #1E1E1E;
font-family: IBM Plex Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
}
}

/* footer */

@media screen and (min-width: 768px) {
.footer_div{
width: 100%;
height: 650px;
border-top: 1px solid #FEFAE0;
background: #283618;
}
}
@media screen and (max-width: 767px) {
.footer_div{
width: 100%;
height: 650px;
border-top: 1px solid #FEFAE0;
background: #283618;
display: none;
}
}


@media screen and (min-width: 768px) {
.footer_sect1_div{
display: flex;
width: 100%;
padding: 0px 96px;
justify-content: space-between;
align-items: flex-start;
border-bottom: 1px solid #FEFAE0;
}
}
@media screen and (max-width: 767px) {
.footer_sect1_div{
display: flex;
width: 100%;
padding: 0px 96px;
justify-content: space-between;
align-items: flex-start;
border-bottom: 1px solid #FEFAE0;
}
}


@media screen and (min-width: 768px) {
.inner_div1{
display: flex;
padding: 46px 0px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}
}
@media screen and (max-width: 767px) {
.inner_div1{
display: flex;
padding: 46px 0px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}
}


@media screen and (min-width: 768px) {
.inner_div2{
display: flex;
padding: 0px 12px 0px 84px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 4px;
align-self: stretch;
border-left: 1px solid #FEFAE0;
}
}
@media screen and (max-width: 767px) {
.inner_div2{
display: flex;
padding: 0px 12px 0px 84px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 4px;
align-self: stretch;
border-left: 1px solid #FEFAE0;
}
}


@media screen and (min-width: 768px) {
.txt_gt_tch{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}
@media screen and (max-width: 767px) {
.txt_gt_tch{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}


@media screen and (min-width: 768px) {
.inner_txt2{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
width: 700px;
}
}
@media screen and (max-width: 767px) {
.inner_txt2{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
width: 700px;
}
}



@media screen and (min-width: 768px) {
.txt_adrss{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
}
}
@media screen and (max-width: 767px) {
.txt_adrss{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
}
}


@media screen and (min-width: 768px) {
.inner_txt4{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
width: 359px;
}
}
@media screen and (max-width: 767px) {
.inner_txt4{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
width: 359px;
}
}


@media screen and (min-width: 768px) {
.footer_sect2_div{
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
}
}
@media screen and (max-width: 767px) {
.footer_sect2_div{
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
}
}


@media screen and (min-width: 768px) {
.inner_ftr2{
display: flex;
align-items: center;
gap: 64px;
margin-top: 100px;
}
}
@media screen and (max-width: 767px) {
.inner_ftr2{
display: flex;
align-items: center;
gap: 64px;
margin-top: 100px;
}
}


@media screen and (min-width: 768px) {
.footer_img{
width: 170px;
height: 170px;
}
}
@media screen and (max-width: 767px) {
.footer_img{
width: 170px;
height: 170px;
}
}


@media screen and (min-width: 768px) {
.ftr2_txt_dtls{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 28px;
}
}
@media screen and (max-width: 767px) {
.ftr2_txt_dtls{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 28px;
}
}



@media screen and (min-width: 768px) {
.inner_ftr4{
display: flex;
flex-direction: column;
align-items: center;
gap: 42px;
}
}
@media screen and (max-width: 767px) {
.inner_ftr4{
display: flex;
flex-direction: column;
align-items: center;
gap: 42px;
}
}


@media screen and (min-width: 768px) {
.fter_txt{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
}
}
@media screen and (max-width: 767px) {
.fter_txt{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
}
}


@media screen and (min-width: 768px) {
.logo_footer{
display: flex;
align-items: center;
gap: 24px;
}
}
@media screen and (max-width: 767px) {
.logo_footer{
display: flex;
align-items: center;
gap: 24px;
}
}


@media screen and (min-width: 768px) {
.sc_media{
width: 40px;
height: 40px;
}
}
@media screen and (max-width: 767px) {
.sc_media{
width: 40px;
height: 40px;
}
}



@media screen and (min-width: 768px) {
.txt_ftr{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 662px;   
}
}
@media screen and (max-width: 767px) {
.txt_ftr{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 662px;   
}
}


@media screen and (min-width: 768px) {
.txt_prvcy_plcy{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}
@media screen and (max-width: 767px) {
.txt_prvcy_plcy{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}


@media screen and (min-width: 768px) {
.txt_prvcy_plcy2{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}
@media screen and (max-width: 767px) {
.txt_prvcy_plcy2{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
}

/* <!-- mob_footer --> */
@media screen and (min-width: 768px) {
.mob_footer_div{
width: 100%;
height: 694px;
background: #283618;
display: none;
}
}
@media screen and (max-width: 767px) {
.mob_footer_div{
width: 100%;
height: 694px;
background: #283618;
}
}

.mob_sect1{
display: flex;
width: 100%;
padding: 24px 16px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
border-bottom: 1px solid #FEFAE0;
}

.mob_txt1{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.mob_txt2{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
}

.mob_sect2{
display: flex;
width: 100%;
padding: 24px 12px 24px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 4px;
border-bottom: 1px solid #FEFAE0;
}

.mob_txt_addrs{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%;
}

.mob_txt_addrs_2{
color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 170%; 
width: 100%;
}

.mob_lst_sect_div{
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 42px;
width: 100%;
}

.last_sect1{
display: flex;
align-items: center;
gap: 24px;
margin-top: 40px;
}

@media screen and (min-width: 768px) {
.mob_footer_img{
width: 170px;
height: 170px;
display: none;
}
}
@media screen and (max-width: 767px) {
.mob_footer_img{
width: 115px;
height: 115px;
}
}

.mob_txt_sect1_ftr{
display: flex;
width: 220px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

.last_sect_txt2{
color: #FEFAE0;
font-family: Belgiano Serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.mob_contct_div{
display: flex;
justify-content: center;
align-items: center;
border-radius: 56px;
border: 1px solid #FEFAE0 !important;
}

.mob_cntct_btn{
display: flex;
padding: 12px 16px 12px 24px;
justify-content: center;
align-items: center;
gap: 6px;
background: #283618;

color: #FEFAE0;
font-family: IBM Plex Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: 1px solid;
border-radius: 50px;
}


.last_sect2{
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
}

.mob_prvcy_plcy_div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
}


.mob_cpy_txt{
color: #FFF;
font-family: IBM Plex Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.mob_prvcy_txt{
color: #FFF;
font-family: IBM Plex Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media screen and (min-width: 768px) {
.mob_sc_media_div{
display: flex;
align-items: center;
gap: 24px;
display: none;
}
}
@media screen and (max-width: 767px) {
.mob_sc_media_div{
display: flex;
align-items: center;
gap: 24px;
margin-left: auto;
margin-right: auto;
}
}

.mob_sc_media{
width: 24px;
height: 24px;
}
/* <!-- end -of mob-footer --> */